#all {
    margin:auto;
}

#main {
    text-align:center;
}

video {
 display: flex;  flex-direction: column;  justify-content: center;
}

h1 {
    text-align: center;
}


test{
    width:600px;
    height:600px;
    font-size:x-large;
    text-align:center
}

h2 {
    font-size:x-large;
}


ul[title='One'] {
    width:600px;
    margin:0 auto;
    text-align: start;
    font-size:x-large;
    line-height:42px;
}

ul[title='Two'] {
    width:1080px;
    height:200px;
    margin:0 auto;
    text-align: start;
    font-size:x-large;
    line-height:42px;
}
