<html>

<head>
    <title>Finger Pen</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">
</head>

<body>
<div id ="main">
    <h1>Finger Pen</h1>
    <div align=center>
        <img src="{{ url_for('video_feed') }}">
    </div>

    <div class="test">
        <h2><b>Gesture Category:</b></h2>
        <ul title="One">
            <li>"One"   -- Draw / Write</li>
            <li>"Two"   -- Eraser</li>
            <li>"Three" -- Clear the screen </li>
            <li>"Four"  -- Show Writing Region( 4 Rectangles ) </li>
            <li>"Five"  -- Hide Writing Region </li>
            <li>"Thumb up" -- Save your result</li>
        </ul>
        <br>
        <h2><b>Notes: </b></h2>
        <ul title="Two">
            <li>Make sure your whole hand are in the camera to get better gesture recognition result. </li>
            <li>Only the words write in the region (Deep Blue Color) will be recognized. </li>
            <li>Hold your gesture "Three" for a while to make sure you really want to clear your writing. </li>
        </ul>
    </div>

</div>


</body>

</html>
