<html>

<head>
    <title>Finger Pen</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">
</head>

<body>
<div id ="main">
    <h1>Finger Pen</h1>
    <div align=center>
        <img src="{{ url_for('video_feed') }}">
    </div>

    <div class="text">
        <p class=intro>Your finger is more powerful than you think !</p>
        <h2><b>Gesture Category:</b></h2>
        <ul title="One">
            <li>"One"   -- Write</li>
            <li>"Two"   -- Eraser</li>
            <li>"Three" -- Clear the screen </li>
            <li>"Four"  -- Start writing</li>
            <li>"Five"  -- End writing and Recognize</li>
            <li>"Thumb up" -- Save current writing</li>
        </ul>
        <br>
        <h2><b>Notes: </b></h2>
        <ul title="Two">
            <li>Use Gesture "Four" to start writing and you will see four rectangles in the canvas. </li>
            <li>Make sure your whole hand are in the camera to get better gesture recognition result. </li>
            <li>Only the words write in the region (Deep Blue Color) will be recognized. </li>
            <li>Hold gesture "Thumb up" for a while to save current writing and keep writing new letters.</li>
            <li>Once you use gesture "Five" to end writing, your writings will be recognized immediately.</li>
        </ul>
    </div>

</div>


</body>

</html>