<html>

<head>
    <title>Finger Pen</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">
</head>

<body>
    <h1>Finger Pen</h1>
    <div align=center>
        <img src="{{ url_for('video_feed') }}">
    </div>

    <div id ="main">
        <p>
    Gesture Category: <br>
    "One"   -- Draw / Write <br>
    'Twp"   -- Eraser <br>
    "Three" -- Save the Result and Clear <br>
    "Four"  -- Show Writing Region( 5 Rectangles ) <br>
    "Five"  -- Hide Writing Region <br>
            <br>
    Notes: <br>
    Make sure your whole hand are in the camera to get better gesture recognition result. <br>
    Only the words write in the region (Deep Blue Color) will be recognized. <br>
    Hold your gesture "Three" for a while to make sure you really want to clear your writing. <br>
        </p>
    </div>

</body>

</html>
